<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app="hideShow">

<head>
  <meta charset="utf-8" />
  <!-- Bootstrap & CSS-->
  <link rel="stylesheet" href="assets/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <title></title>
</head>

<body>
  <div ng-controller="hideShowCtrl">
    <button name="buttonShow" ng-click="show()">afficher</button>
    <button name="buttonHide" ng-click="hide()">cacher</button>
    <p ng-hide="hidden">tagazok a toi mon frere</p>
  </div>
  <!-- JSmaiSON -->
  <script type="text/javascript" src="assets/scripts/main.js"></script>
</body>

</html>
