<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app="hideShow">
<head>
  <meta charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>

<body>
  <div ng-controller="hideShowCtrl">
  <button name="buttonShow" ng-click="showTagazok()">afficher Tagazok cacher Pataclop</button>
  <button name="buttonHide" ng-click="hideTagazok()">cacher Tagazok afficher Pataclop</button>
  <p ng-hide="hidden">Tagazok à toi mon frere</p>
  <p ng-show="shown">Pataclop pataclop répondit le cheval</p>
  </div>
  <!-- JSmaiSON -->
  <script type="text/javascript" src="assets/scripts/main.js"></script>
</body>
</html>
